@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

@media (min-width:768px){
  .custom-grid-rows{
    grid-template-rows: repeat(8, 20);
  }
}

@media (min-width:1280px){
  .custom-grid-rows{
    grid-template-rows: repeat(8, 7.5vh);
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: 'blue'; /* Light background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #090F1C; /* Darker color for the thumb */
  border-radius: 10px; /* Rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}
